.banner {
    height: 400px;
    width: 33.33%;
    position: absolute;
    background-image: url("../artwork/carnival_gus");
    background-size: cover;
    opacity: 45%;
}
#img2.banner {
    background-image: url("../artwork/moon_shrooms");
    margin-left: 33.33%;
}
#img3.banner {
    background-image: url("../artwork/alien_solstice5x7");
    margin-left: 66.67%;
}
#fullbanner {
    margin-top: -.5%;
    margin-left: -.4%;
}

.head {
    text-align: center;
    position: relative;
    font-weight: 100;
    font-size: 100px;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
}
h2.head {
    color: #000000;
    padding-top: 275px;
    margin-top: -1%;
}
h1.head {
    /* background-image: canvas; */
    /* inline block for dropcap */
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif
}
.border {
    border-bottom-style: double;
    border-color: peru;
}

#about {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#about > p {
    width: 750px;
    padding: 15px 60px;
    font-size: 40px;
}
#google {
    width: 350px;
    height: auto;
    padding: 0px 0px 20px 20px;
}

a, li > a {
    transition: all 300ms;
    color: black;
    text-decoration: none;
    font-weight: 100;
}
a:hover {
    font-size: 19.5px;
    font-size-adjust: 19.5px;
}
li > a:hover {
    font-size: 16.5px;
    font-size-adjust: 16.5px;
}

#samples {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px 100px;
    padding: 55px;
}
.samp {
    flex: auto;
    text-align: center;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}